* {
  box-sizing: border-box;
}

:root {
  --main-text: #283136;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/web/robotomedium.woff);
}
body {
  margin: 0;
  padding: 0;
  height: 2476px;
  font-family: Roboto,sans-serif;
  color: black;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url(../images/previeыw/nerds.jpg);*/
}

.hero-wrapper {
  background-color: red;
  height: 538px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width:100%;
  border: 1px solid blue;
  padding: 0 10px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
  max-width: 440px;
  width: 100%;
}

.main-nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px 0;
  max-width: 440px;
  width: 100%;
}

li {
  list-style-type: none;
} 

.main-nav-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: PTSans;
  font-size: 16px;
}

.user-block {
  display: flex;
  align-items: center;
  max-width: 115px;
  width: 100%;
  cursor: pointer;
}

.container .btn-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.description {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  max-width: 1160px;
  width: 100%;
  min-height: 420px;
}

.description-left {
  max-width: 400px;
  width: 100%;
}

.description-left .text-bold {
  display: block;
  padding-top: 76px;
  font-size: 55px;
  line-height: 55px;
  font-weight: lighter;
}

.description-left p {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: var(--main-text);
}

.description .image-slide {
  margin-left: 30px;
  margin-top: 10px;
}

.btn-info {
  display: inline-block;
  padding: 18px 55px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 2px;
  border-width: 0;
  text-decoration: none;
  color: white;
}

.features {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1100px;
  width: 100%;
}

.features-item {
  max-width: 300px;
  width: 100%;
  line-height: 0;
}

.features-item img {
  max-width: 300px;
  width: 100%;
  height: 146px;
}

.features-item .features-title {
  margin-top: 47px;
  text-transform: uppercase;
  font-size: 24px;
}

.features-item p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: #5d6367;
}

.features-btn {
  margin-top: 30px;
  padding: 20px 0;
  max-width: 160px;
  width: 100%;
  border-radius: 4%;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}

.features-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.btn-red {
  background-color: #fb565a;
}

.btn-green {
  background-color: #00ca74;
}

.btn-yellow {
  background-color: #efc84a;
}

.advantages {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.advantages-left {
  max-width: 660px;
  width: 100%;
}

.advantages-left h3 {
  margin-bottom: 35px;
  margin-top: 30px;
  font-size: 45px;
  line-height: 45px;
}
.advantages-left p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantages-left .text-bold {
  display: block;
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages-left .advantages-list {
  padding-left: 0;
}

.advantages-left .advantages-items {
  position: relative;
  display: block;
  margin-top: 24px;
  margin-left: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantages-left li::before {
  position: absolute;
  content: "";
  top: 11px;
  left: -35px;
  width: 4%;
  height: 1px;
  background-color: red;
}

.advantages-right {
  max-width: 360px;
  width: 100%;
}

.advantages-right b {
  display: inline-block;
  margin-left: 18px;
  padding-top: 30px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 360px;
  width: 100%;
}

.stats-content {
  max-width: 120px;
  width: 100%;
}
.stats b {
  margin-top: 40px;
  margin-left: 0;
  padding: 0;
  font-size: 45px;
}

.stats p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #5d6367;
}
.stats sup {
  font-size: 25px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 80px;
  padding-bottom: 45px;
  width: 1160px;
  border-bottom: 2px solid #eeeeee;
}

.logos-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 285px;
  width: 100%;
}
.logos-img-wrap::after {
  position: absolute;
  content: "";
  background-color: #eeeeee;
  width: 2px;
  height: 52px;
  bottom: center;
  right: 0;
}
.logos-img-wrap:last-child::after {
  position: absolute;
  content: "";
  width: 0;
}

.map {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  min-height: 420px;
  background-image: url(/images/map.png);
}

.map .container {
  border: 1px solid red;
}

.contacts {
  max-width: 320px;
  width: 100%;
  margin-top: 55px;
  padding-top: 50px;
  background-color: white;
}

.contacts .text-bold {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.contacts .adress-link  {
  text-decoration: none;
  color: #666666;
}

.contacts-tel {
  margin-bottom: 40px;
  color: #666666;
  cursor: pointer;
}

.btn-write-us {
  margin: 0 auto;/*почему не сработала центровка?*/
}


