* {
  box-sizing: border-box;
}
h2 {
  margin: 0;
  padding: 0;
}
:root {
  --main-text: #283136;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/web/robotomedium.woff);
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: black;
  background: url(/images/preview/nserds-catalog.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.hero-wrapper {
  background-color: #eeeeee;
  height: 538px;
}

.hero-wrapper--catalog {
  margin-bottom: 60px;
  background-color: #eeeeee;
  height: 355px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
  padding: 0 10px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.main-header__logo:hover {
  opacity: 80%;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: 40px;
  max-width: 440px;
  width: 100%;
}

.main-nav-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px 0;
  max-width: 440px;
  width: 100%;
}

li {
  list-style-type: none;
}

.main-nav-menu-link {
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: Roboto, PTSans;
  font-size: 16px;
}

.main-nav-menu-link:hover {
  border-bottom: 2px solid #fb565a;
}

.user-block {
  display: flex;
  align-items: center;
  max-width: 115px;
  width: 100%;
  cursor: pointer;
}

.container .btn-basket {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
}

.container .btn-basket:hover {
  border-bottom: 2px solid #fb565a;
}

.description {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  max-width: 1160px;
  width: 100%;
  min-height: 420px;
}

.description-left {
  max-width: 400px;
  width: 100%;
}

.description-left .text-bold {
  display: block;
  padding-top: 76px;
  font-size: 55px;
  line-height: 55px;
  font-weight: lighter;
}

.description-left p {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: var(--main-text);
}

.description .image-slide {
  margin-left: 30px;
  margin-top: 10px;
}

.container-btn {
  display: inline-block;
  min-width: 200px;
  padding: 16px 55px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 2px;
  border-width: 0;
  text-decoration: none;
  color: white;
  outline: none;
}

.container-btn:active {
  color: green;
  background-color: blue; /*почему не меняется цвет ?????*/
  box-shadow: inset 0px 2px 3px 0px black;
}

.features {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1100px;
  width: 100%;
}

.features-item {
  max-width: 300px;
  width: 100%;
  line-height: 0;
}

.features-item img {
  max-width: 300px;
  width: 100%;
  height: 146px;
}

.features-item .features-title {
  margin-top: 47px;
  text-transform: uppercase;
  font-size: 24px;
}

.features-item p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: lighter;
  color: #5d6367;
}

.features-btn {
  margin-top: 30px;
  padding: 20px 0;
  max-width: 160px;
  width: 100%;
  border-radius: 4%;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
}

.features-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}

.btn-red {
  background-color: #fb565a;
}
.btn-red:hover,
.container-btn:hover {
  background-color: #e74246;
  cursor: pointer;
}

.btn-green {
  background-color: #00ca74;
}
.btn-green:hover {
  background-color: #00bc6c;
  cursor: pointer;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
  cursor: pointer;
}

.advantages {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.advantages-left {
  max-width: 660px;
  width: 100%;
}

.advantages-left h3 {
  margin-bottom: 35px;
  margin-top: 30px;
  font-size: 45px;
  line-height: 45px;
}
.advantages-left p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantages-left .text-bold {
  display: block;
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages-left .advantages-list {
  padding-left: 0;
}

.advantages-left .advantages-items {
  position: relative;
  display: block;
  margin-top: 24px;
  margin-left: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantages-left li::before {
  position: absolute;
  content: "";
  top: 11px;
  left: -35px;
  width: 4%;
  height: 1px;
  background-color: red;
}

.advantages-right {
  max-width: 360px;
  width: 100%;
}

.advantages-right b {
  display: inline-block;
  margin-left: 18px;
  padding-top: 30px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 360px;
  width: 100%;
}

.stats-content {
  max-width: 120px;
  width: 100%;
}
.stats b {
  margin-top: 40px;
  margin-left: 0;
  padding: 0;
  font-size: 45px;
}

.stats p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #5d6367;
}
.stats sup {
  font-size: 25px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 80px;
  padding-bottom: 45px;
  width: 1160px;
  border-bottom: 2px solid #eeeeee;
}

.logos-img-wrap {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  opacity: 0.3;
  align-items: center;

  max-width: 285px;

  cursor: pointer;
}
.logos-img-wrap:hover {
  opacity: 100%;
  transition: 0.385s;
}
.logos-img-wrap::after {
  position: absolute;
  content: "";
  background-color: #eeeeee;
  width: 2px;
  height: 52px;
  bottom: center;
  right: 0;
}
.logos-img-wrap:last-child::after {
  position: absolute;
  content: "";
  width: 0;
}

.map {
  margin: 0 auto;
  padding-top: 55px;
  max-width: 1440px;
  width: 100%;
  min-height: 420px;
  background: url(../images/map.png) 0 0 no-repeat;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 320px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: white;
}

.contacts .text-bold {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.contacts .adress-link {
  text-decoration: none;
  color: #666666;
}

.contacts-tel {
  margin-bottom: 40px;
  color: #666666;
  cursor: pointer;
}

.container-btn-flex {
  margin: 0 auto;
}

.footer {
  padding-top: 55px;
}
.footer__flex {
  display: flex;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  width: 100%;
  margin-right: 140px;
}

.footer__social-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 30px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.footer__social-background:hover {
  background-color: #e74246;
  transition: 0.385s;
}

.footer__title {
  font-size: 36px;
}

.footer__subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.title {
  margin-top: 71px;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.main {
  display: flex;
  justify-content: space-between;
  outline: 1px solid darkgreen;
  margin-bottom: 60px;
}

.radio {
  margin-bottom: 50px;
}

.radio__label {
  display: block;
  position: relative;
  padding-left: 40px;
  line-height: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  color: #283136;
}

.radio__label:hover {
  color: #000;
}
.radio__label:hover .radio__indicator {
  border-color: #4d4d4d;
}

.radio__label:hover .radio__input:checked + .radio__indicator::before {
  background-color: #4d4d4d;
}
.radio__input {
  display: none;
}

.radio__indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 4px solid #b8b8b8;
  border-radius: 50%;
}

.radio__input:checked + .radio__indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: #b8b8b8;
  border-radius: 50%;
}

.radio__input:checked + .radio__indicator:hover::before {
  background-color: #4d4d4d;
}

.subtitle {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.checkbox__label {
  position: relative;
  display: block;
  padding-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
  color: #283136;
}

.checkbox__input {
  display: none;
}

.checkbox__indicator {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 22px;
  height: 22px;
  border: 2px solid #b8b8b8;
  border-radius: 4px;
}

.checkbox__indicator:hover {
  border-color: #4d4d4d;
}

.checkbox__input:checked + .checkbox__indicator::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 5px;
  height: 10px;
  background-color: #b8b8b8;
  transform: rotate(-45deg);
  border-radius: 1px;
  box-shadow: 10px 0px - 1px white;
}

.checkbox__input:checked + .checkbox__indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 19px;
  height: 5px;
  background-color: #b8b8b8;
  border-radius: 1px;
  transform: rotate(-45deg);
  box-shadow: 10px 0px 1px 1px white;
}

.checkbox__label:hover {
  color: #000;
}

.checkbox__label:hover .checkbox__indicator {
  border-color: #4d4d4d;
}

.checkbox__label:hover .checkbox__input:checked + .checkbox__indicator::before,
.checkbox__label:hover .checkbox__input:checked + .checkbox__indicator::after {
  background-color: #4d4d4d;
}

.form {
  margin-right: 140px;
  width: 260px;
}
.form__btn {
  margin-top: 25px;
  padding: 16px 90px;
}

.btn-secondary {
  min-width: 260px;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.btn-secondary:hover,
.pagination__link:hover {
  background-color: #dfdfdf;
}

.btn-secondary:active,
.pagination__link:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px 0px #bfbfbf;
}
.product {
  max-width: 760px;
  width: 100%;
}

.product-filter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 55px;
}

.subtitle--filter {
  margin: 0;
}

.product-filter {
  display: flex;
  max-width: 360px;
  width: 100%;
  text-transform: uppercase;
}

.product-filter__text {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 1;
  color: #d2d2d2;
  cursor: pointer;
}

.product-filter__text:hover {
  color: #666666;
}

.product-filter__text:active {
  color: #000;
}

.product-filter-text__active {
  color: #000;
}

.sort-btn {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  max-width: 40px;
  width: 100%;
}

.sort-btn__down,
.sort-btn__up {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.sort-btn__down::before {
  /*делал на глаз */
  position: absolute;
  content: "";
  left: 0px;
  bottom: -5px;
  border: 5px solid transparent;
  border-top: 10px solid #d2d2d2;
}

.sort-btn__up::before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 1px;
  border: 5px solid transparent;
  border-top: 10px solid #d2d2d2;
  transform: rotate(180deg);
}

.sort-btn__up:hover:before,
.sort-btn__down:hover::before {
  border-top: 10px solid #666666;
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  position: relative;
  margin-bottom: 60px;
  max-width: 360px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.content-dots {
  display: flex;
  padding-left: 16px;
  background-color: #e9e9e9;
}

.dots__slider {
  margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 9px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.content:hover .content-dots {
  background-color: #4d4d4d;
}

.content-description {
  height: 230px;
  background-color: #eeeeee;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  opacity: 0; /*подходит ли опасити ради плавного перехода
  ведь через display none нельзя сделать плаввный переход? 
  а при опасити 
  0 юзер может случайно нажать на кнопку купитиь?*/
  transition: 1s;
}

.content:hover .content-description {
  text-align: center;
  opacity: 1;
  transition: 0.5s;
}

.content-description__title {
  margin-top: 30px;
  text-transform: uppercase;
}

.content-description__text {
  padding: 5px;
  margin-bottom: 30px;
  color: #666666;
}
.pagination {
  display: flex;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  padding: 13px;
  margin-right: 10px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  background-color: #eeeeee;
  text-transform: uppercase;
  border-radius: 2px;
}
.pagination__active {
  background-color: transparent;
  border: 3px solid #dbdbdb;
}

.range {
  border: 1px solid red;
}

.range__label {
  border: 1px solid green;
}

.input-wrap {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 40px 15px;
  background-color: #eeeeee;
}

.range__input {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #00ca74;
  outline: none;
  opacity: 0.6;
  transition: 0.5s;
}

.range__input:hover {
  opacity: 1;
  transition: 0.4s;
}

.range__input::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e74246;
  border: 8px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 4px 1px black;
}

.range__price {
  display: inline-block;
  padding: 10px 15px;
  background-color: #eeeeee;
  border-radius: 3px;
  max-width: 80px;
  width: 100%;
  text-align: center;
  border: 1px solid blue; /*начинает скакать вся колонка когда я начинаю двигать ползунок*/
}
